
{{define "list"}}
{{template "header" .}}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ol class="list-inline">
				<li>
					Go
				</li>
				<li>
					Java
				</li>
				<li>
					Performance
				</li>
				
			</ol>
		</div>
		<div class="col-md-6 column">
		<h2>Items</h2>

<p>[<a href="/add">Add</a>]</p>





			<div class="list-group">
{{range .items}}
  <a href="{{.Link}}" class="list-group-item">
	{{range .Tags}}
		<span class="badge">{{.}}</span>
	{{end}}
    <h4 class="list-group-item-heading">{{.Name}}</h4>
    <p class="list-group-item-text">
	{{.Link}}<br/>{{.Descr}}
	</p>
  </a>
{{end}}
</div>
		</div>
		<div class="col-md-4 column">
				<small>Zaman ne de cabuk geciyor <cite>Turgay</cite></small>
		</div>
	</div>
</div>




{{template "footer" .}}
{{end}}




